@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* common styles */
* {
    margin: 0 auto;
    margin: 0;
    padding: 0;
}

.section-title {
    color: #0d1321;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 24px;
}

.section-description,
.card-description {
    color: #0d1321;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 100;
}

/* ---------------------header styles------------------ */

/* banner styles */
.banner {
    text-align: center;
    margin-top: 35px;
    background-image: url("./assets/Banner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 26px 0 44px 0;
}

.banner-text-content .banner-title {
    color: #0d1321;
    font-size: 48px;
    font-weight: 100;
    margin-top: 32px;
}

.banner-text-content .banner-description {
    color: #0d1321;
    font-size: 16px;
    font-weight: 100;
    opacity: 0.7;
    margin: 24px 0 32px 0;
}

.contact-btn {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    border: none;
    border-radius: 8px;
    background: #0d1321;
    padding: 21px 24px 21px 24px;
}

/* ------------------header styles ends------------------ */

/* ---------------------main styles starts-------------------- */
main {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 74px;
}

.why-web-development {
    border-radius: 16px;
    background: #0d132105;
    padding: 80px 96px;
    margin-bottom: 90px;
}

.why-web-development-text {
    text-align: center;
    margin-bottom: 48px;
}

.i-will-do-coding,
.i-will-help-people {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 108px;
    padding: 48px;
    margin-bottom: 32px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, #ffffff, #ffffff00 100%);
}

.i-will-do-coding-title,
.i-will-help-people-title {
    color: #0d1321b3;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 16px;
}

.learnMore-btn {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 100;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    margin-top: 32px;
}

/* my inspiration styles */
.my-inspiration-text{
    text-align: center;
}
.jhankar-mahbub-video {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
    margin-top: 48px;
}
.jhankar-mahbub-video iframe{
    border-radius: 16px;
}